* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    background-image: url(https://www.sbb.ch/content/dam/internet/sharedimages/galerie/ff-galerie/gttos/Glacier-Express-Winter.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5rem;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 3rem;
    align-items: center;
    max-width: 70vw;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.main_container {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

h3 {
    text-align: center;
    padding-bottom: 1rem;
}

.main-container input {
    padding: 1rem;
}

#age, #distance, #button {
    padding: 10px;
}

#button {
    border-radius: 10px;
}

#ticket_price {
    font-size: 2rem;
}
